.default-link
  transition background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
  background-color transparent
  border-radius 0.35em
  border 3px solid #efefef
  color #787878 
  display inline-block
  font-weight 400
  font-size 1em
  padding 1em 1.8em
  text-align center
  text-decoration none
		&:hover 
		  border-color #49bf9d
		  color #49bf9d