.main-footer
  bottom 0
  left 0
  padding 8em 3em 3em 0
  position fixed
  text-align right
  color #676d79
  @media all and (max-width:768px) 
    position static
    background-image url("../img/bg.jpg")
    background-repeat repeat, no-repeat
    background-position bottom center
    background-size 100% auto 
    text-align center
    padding 2.4em
  
  .social
    padding-bottom 1em
    a 
      color #676d79
    li
        display inline-block
        padding-left .5em
    
  .copyright
    font-size .8em
    font-weight 400
    li
      padding 1em 0
      @media all and (max-width:768px) 
        display inline-block
        padding .5em
    a
      border-bottom dotted 1px
      text-decoration none
      color inherit